# Archivos de entorno
.env
.env.local
.env.production

# Entornos virtuales
venv/
env/
.venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# Logs
*.log

# Archivos temporales
*.tmp